body{
margin: 0 auto;
width: 100%;
height: 100%;
overflow: hidden;
}

#menu{
  text-align: center;
  font-weight: bold;
  padding: 0%;
  padding-top: 1% ;

}
#menu a{
  color: orangered;
}
#menu ul{
  padding-left:58%;
}
#menu li{
  width: 20%;
  padding: 1%;
}
#menu a:hover {
  color:black ;
  transition: background-color 1s;
  background-color: orangered;
  display: block;
  width: 115%;
}


.carrusel{
  width: 60%;
  height: 60%;
  margin-left: 20% ;
}