.navbar{
    height: 100%;
    width: 20%;
    position:absolute;
    padding-top: 20px;
    background-color: #2F2E2E;
}

.navbar a{
    width: 100% ;
    display: block;
    float:left;
    color: whitesmoke;
    text-align: auto;
    padding: 15px;
    font-size: 24px;
    text-decoration: none;
}

.navbar a:hover{
    background-color:#3F3C3C;
    opacity: 90%;
    color:white;
    font-weight: bold;
    display: block;
    width: 89%;
}

body{
    margin:0;
    font-family: sans-serif;
    color:white;
    background-color:  #2F2E2E;
    height: 100%;
    width: 100%;
    display: block;
    min-width:600px;
    min-height: 800px;
    max-width:1440px;
    max-height: 1920px;
}

.w{
    height: 25%;
    width: auto;
    background-color:#DAF7A6;
    display: block;
    padding: 1%;
    overflow: hidden;
    margin-bottom: 0%;
}
.y{
    height: 25%;
    width: auto;
    background-color:#FFC300;
    display: block;
    padding: 1%;
    overflow: hidden;
    margin-bottom: 0%;
}
.x{
    height: 25%;
    width: auto;
    background-color:#FF5733 ;
    display: block;
    padding: 1%;
    overflow: hidden;
    margin-bottom: 0%;
}
.z{
    height: 25%;
    width: auto;
    background-color:#C70039;
    display: block;
    padding: 1%;
    overflow: hidden;
    margin-bottom: 0%;
}

div{
    width:100%;
    margin-left: 20%;
    margin-right: 10px;
    display: block;

}
h3{
    text-align: center;
}

.cont{
    margin-right: auto;
    height: 100%;
    background-color: antiquewhite;
    display: block;
    color: black;
    padding: 2%;

}
